<div class="login-header">
    <div class="col-md-12">
        <img src="/assets/images/logo.png" alt="Meditegic">
        <h4 class="login-h4"><i class="fa fa-lock"></i>&nbsp;Login&nbsp;<small>| Por favor proporciona tus credenciales</small></h4>
    </div>
</div>

<div class="login-wrapper">
    <div class="login-container">
        <div>
            <img class="img-circle" src="/assets/images/user.png"><br><br>
        </div>
        <div class="form-box">
            <form ng-submit="doLogin()" name="loginForm" role="form" novalidate>
                <input ng-model="data.username" id="user" type="text" class="form-control" placeholder="Usuario" required autofocus>
                <input ng-model="data.password" class="form-control" placeholder="Clave" type="password" required>
                <button ng-class="css.submit" ng-disabled="!loginForm.$valid" class="btn btn-outline btn-block login" type="submit">Continuar</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer navbar-fixed-bottom text-center">
    Derechos reservados © {{year}} - <strong>Meditegic</strong>
</footer>
