<div ng-controller="defaultCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div data-ng-include="'/partials/app/topbar.html'"></div>
    </nav>

    <div class="content">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-2">
                    <div data-ng-include="'/partials/app/sidebar.html'"></div>
                </div>

                <div class="col-md-10">
                    <div ui-view></div>
                </div> -->

                <div class="col-md-12" style="padding-top: 50px;">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom text-center">
        Derechos reservados © {{year}} - <strong>Meditegic</strong>
    </footer>
</div>

<script type="text/ng-template" id="tableControls">
    <div class="row">
        <div class="col-lg-1">
            <select ng-init="show = 50" ng-model="show" ng-change="params.count(this.show)" ng-options="value for value in [10,25,50,100,1000]" class="form-control input-sm"></select>
        </div>
        <div class="col-lg-11">
            <div class="pull-right">
                <ul class="pagination ng-table-pagination">
                    <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
                        <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                        <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                        <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                        <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>
