<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo">
                <img src="/assets/images/m.png" alt="Meditegic">
                &nbsp;
                <a ui-sref="app.home" class="btn-white">
                    {{username}}
                </a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-bar-right">
                            <div class="notifications">
                                <ul>
                                    <li>
                                        <div class="btn-group">
                                            <a ui-sref="app.home" class="btn btn-sm btn-link btn-white" data-toggle="tooltip" data-placement="bottom" data-original-title="Inicio">
                                                <i class="fa fa-home fa-fw"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group">
                                            <a ui-sref="app.addQuote" class="btn btn-sm btn-link btn-white" data-toggle="tooltip" data-placement="bottom" data-original-title="Cotizar">
                                                <i class="fa fa-calculator fa-fw"></i>
                                                Cotizar
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group">
                                            <a ui-sref="app.quotes" class="btn btn-sm btn-link btn-white" data-toggle="tooltip" data-placement="bottom" data-original-title="Cotizaciones">
                                                <i class="fa fa-table fa-fw"></i>
                                                Cotizaciones
                                            </a>
                                        </div>
                                    </li>
                                    <li class="notification-item general">
                                        <div class="btn-group" data-ng-include="'/partials/app/topbar-configuration.html'" data-toggle="tooltip" data-placement="bottom" data-original-title="Configuración"></div>
                                    </li>
                                    <!-- <li class="notification-item general">
                                        <div class="btn-group" data-ng-include="'/partials/app/topbar-notification.html'"></div>
                                    </li> -->
                                    <li>
                                        <div class="btn-group">
                                            <a ng-click="doLogout()" class="btn btn-sm btn-link btn-white" data-toggle="tooltip" data-placement="bottom" data-original-title="Salir">
                                                <i class="fa fa-sign-out fa-fw"></i>
                                                Salir
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
