<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell"></i><span class="count">4</span>
    <span class="circle"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li class="notification-header">
        <em>Notificaciones</em>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-check green-font"></i>
            <span class="text">#S210 recibida</span>
            <span class="timestamp">Nov 4</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-warning yellow-font"></i>
            <span class="text">#S130 en espera de cotizaciones</span>
            <span class="timestamp">Nov 1</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-info-circle yellow-font"></i>
            <span class="text">#S160 sin cotizar</span>
            <span class="timestamp">Oct 30</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-warning red-font"></i>
            <span class="text red-font">#S149 sin cotizar</span>
            <span class="timestamp">Oct 11</span>
        </a>
    </li>
</ul>
