<a href="#" class="dropdown-toggle btn btn-sm btn-link btn-white" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-gears fa-fw"></i>
</a>
<ul class="dropdown-menu" role="menu">
    <li>
        <a ui-sref="app.users">
            <i class="fa fa-user fa-fw"></i>
            Usuarios
        </a>
    </li>
    <li>
        <a ui-sref="app.clients">
            <i class="fa fa-briefcase fa-fw"></i>
            Clientes
        </a>
    </li>
    <li>
        <a ui-sref="app.suppliers">
            <i class="fa fa-truck fa-fw"></i>
            Proveedores
        </a>
    </li>
    <li>
        <a ui-sref="app.groups">
            <i class="fa fa-users fa-fw"></i>
            Grupos
        </a>
    </li>
    <li>
        <a ui-sref="app.templates">
            <i class="fa fa-file-text-o fa-fw"></i>
            Plantillas
        </a>
    </li>
    <li>
        <a ui-sref="app.labels">
            <i class="fa fa-language fa-fw"></i>
            Etiquetas
        </a>
    </li>
    <li>
        <a ui-sref="app.logs">
            <i class="fa fa-archive fa-fw"></i>
            Registros
        </a>
    </li>
</ul>
