<!-- Breadcrumb -->
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li>Inicio</li>
            <li class="active">Logs</li>
        </ul>
    </div>
</div>

<!-- Title -->
<div class="main-header">
    <div class="col-lg-6">
        <h2><i class="fa fa-archive fa-fw"></i>REGISTROS</h2>
        <em>Total de registros&nbsp;{{data.length}}</em>
    </div>
</div>

<!--- Search bar -->
<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <div tags data="q"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab0" role="tab" data-toggle="tab">UUID <span class="label label-default">{{data.length}}</span></a>
            </li>
            <li>
                <a href="#tab1" role="tab" data-toggle="tab">Logs <span class="label label-default">{{data2.length}}</span></a>
            </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <div class="tab-content">
            <div class="tab-pane active" id="tab0">
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table table-striped table-hover table-bordered" template-pagination="tableControls">
                        <tbody>
                            <tr ng-repeat="row in $data">
                                <td data-title="'Request-Id'" sortable="'pid'" width="240">
                                    <small>{{row.pid}}</small>
                                </td>
                                <td data-title="'Descripción'" sortable="'description'">
                                    <small>{{row.description}}</small>
                                </td>
                                <td data-title="'App'" sortable="'app'" align="center" width="170">
                                    <small>{{row.app}}</small>
                                </td>
                                <td data-title="'Code'" sortable="'code'" align="center" width="100">
                                    <span class="label {{row.label}}">{{row.code}}</span>
                                </td>
                                <td data-title="'Fecha'" sortable="'dt_create'" align="center" width="120">
                                    <small>{{row.dt_create | fromDataBaseFormatFtr}}</small>
                                </td>
                                <td data-title="'Hora'" align="center" width="120">
                                    <small>{{row.dt_create | tsToHour}}</small>
                                </td>
                                <td width="40">
                                    <button ng-click="doDetail(row)" type="button" class="btn btn-link btn-xs btn-outline">
                                        <i class="fa fa-file-o"></i>
                                    </button>
                                </td>
                                <td width="40">
                                    <button ng-click="doSelect(row)" type="button" class="btn btn-link btn-xs btn-outline">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="tab1">
                <div ng-show="log === null && data2.length === 0">
                    No log uuid selected
                </div>

                <div ng-show="log !== null && data2.length === 0">
                    No logs found
                </div>

                <div ng-show="log !== null && data2.length > 0">
                    <div class="table-responsive">
                        <table ng-table="tableParams2" class="table table-striped table-hover table-bordered" template-pagination="tableControls">
                            <tbody>
                                <tr ng-repeat="row in $data">
                                    <td data-title="'Orden'" sortable="'count'" align="center" width="100">
                                        {{row.count}}
                                    </td>
                                    <td data-title="'Level'" sortable="'level'" align="center" width="100">
                                        <span class="label {{row.label}}">{{row.level}}</span>
                                    </td>
                                    <td data-title="'Descripción'" sortable="'message'">
                                        {{row.message}}
                                    </td>
                                    <td data-title="'Fecha'" sortable="'dt_create'" align="center" width="120">
                                        {{row.dt_create | fromDataBaseFormatFtr}}
                                    </td>
                                    <td data-title="'Hora'" sortable="'dt_modify'" align="center" width="120">
                                        {{row.dt_create | tsToHour}}
                                    </td>
                                    <td width="40">
                                        <button ng-click="doDetail(row)" type="button" class="btn btn-link btn-xs btn-outline">
                                            <i class="fa fa-file-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div id="modalDetail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">{{detail.description}}</h2>
                <span ng-show="detail.pid">Request-ID: <strong>{{detail.pid}}</strong><br></span>
                <span ng-show="detail.app">App: <strong>{{detail.app}}</strong><br></span>
                <span ng-show="detail.code">Code: <strong><span class="label {{detail.label}}">{{detail.code}}</span></strong><br></span>
            </div>
            <div class="modal-body">
                <div>
                    <pre>{{detail | json}}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cerrar</button>&nbsp;
            </div>
        </div>
    </div>
</div>
