<!-- Breadcrumb -->
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li>Inicio</li>
            <li class="active">Usuarios</li>
        </ul>
    </div>
</div>

<!-- Title -->
<div class="main-header">
    <div class="col-lg-6">
        <h2><i class="fa fa-user fa-fw"></i>USUARIOS</h2>
        <em>Total de registros&nbsp;{{data.length}}</em>
    </div>
    <div class="col-lg-6">
        <button ng-click="doEdit()" class="btn btn-primary pull-right"><i class="fa fa-edit fa-fw"></i>Agregar</button>
    </div>
</div>

<!--- Search bar -->
<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <div tags data="q"></div>
            </div>
        </div>
    </div>
</div>

<!--- Table -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table ng-table="tableParams" class="table table-striped table-hover table-bordered" template-pagination="tableControls">
                <tbody>
                    <tr ng-repeat="row in $data">
                        <td data-title="'ID'" sortable="'id_user'" align="center" width="170">
                            <a ng-click="doEdit(row)" href="#">{{row.id_user}}</a>
                        </td>
                        <td data-title="'Email'" sortable="'username'">
                            <a ng-click="doEdit(row)" href="#">{{row.username}}</a>
                        </td>
                        <td data-title="'Nombre'" sortable="'name'">
                            <a ng-click="doEdit(row)" href="#">{{row.name}}</a>
                        </td>
                        <td data-title="'Fecha Creación'" sortable="'dt_create'" align="center" width="150">
                            {{row.dt_create | fromDataBaseFormatFtr}}
                        </td>
                        <td data-title="'Fecha Modificación'" sortable="'dt_modify'" align="center" width="150">
                            {{row.dt_modify | fromDataBaseFormatFtr}}
                        </td>
                        <td width="40">
                            <button ng-click="doEdit(row)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-edit"></i></button>
                        </td>
                        <td width="40">
                            <button ng-click="doConfirm(row)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modals -->
<div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Eliminar</h3>
            </div>
            <div class="modal-body">
                <h5>{{edit.username}}</h5>
                <b>Datos:</b>
                <div style="width: 99%; height: 200px; overflow: auto;">
                    <pre>{{edit | json}}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cancelar</button>&nbsp;|
                <button ng-click="doRemove()" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">{{edit.title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-lg">
                        <label>Email</label>
                        <input ng-model="edit.username" type="email" required class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Nombre</label>
                        <input ng-model="edit.name" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Contrase&ntilde;a</label>
                        <input ng-model="edit.password" type="password" class="form-control" placeholder="Contrase&ntilde;a">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cancelar</button>&nbsp;|
                    <button ng-click="doSave()" ng-disabled="!form.$valid" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
