<!-- Breadcrumb -->
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li>Inicio</li>
            <li>Cotizaciones</li>
            <li class="active">Agregar</li>
        </ul>
    </div>
</div>

<!-- Title -->
<div class="main-header">
    <div class="col-lg-12">
        <h2><i class="fa fa-calculator fa-fw"></i>COTIZACIONES</h2>
        <em>Crear cotizaci&oacute;n {{selected.next}}</em>
    </div>
</div>

<form name="form">
    <div class="row">
        <div class="col-lg-6">
            <h5>Cliente</h5>
            <select ng-model="selected.client" id="client" required placeholder="Cliente">
                <option></option>
                <option ng-repeat="client in clients" value="{{client.value}}">{{client.text}}</option>
            </select>
        </div>
        <div class="col-lg-6" style="padding-top: 43px">
            <a ng-show="(selected.client.length > 0)" ng-click="doClientEdit(selected.client)" href="#">
                Editar datos cliente
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Asunto</h5>
            <input ng-model="selected.subject" type="text" class="form-control" placeholder="Quote {{selected.next}}">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Destinatarios&nbsp;<span class="label label-default">{{selected.to.length}}</span></h5>
            <select ng-model="selected.to" id="to" multiple="true" required placeholder="Destinatarios">
                <option></option>
                <option ng-repeat="supplier in suppliers" value="{{supplier.value}}">{{supplier.text}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Grupos</h5>
            <button ng-click="doAddGroup()" type="button" class="btn btn-link"><i class="fa fa-plus-square"></i> Add Groups</button>
            <select ng-model="group.selected" id="groups" multiple="true" placeholder="Selecciona uno o varios grupos"><option></option></select>
        </div>
        <div ng-show="(group.rows.length > 0)" class="col-lg-12">
            <h5>Selecciontados</h5>
            <table class="table table-striped table-hover table-bordered">
                <tbody>
                    <tr ng-repeat="row in group.rows">
                        <td>
                            <span ng-repeat="(key, group) in row.groups">
                                {{group}}<span ng-show="key+1 < row.groups.length">,&nbsp;</span>
                            </span>
                        </td>
                        <td width="100">
                            <button ng-click="doRemove(key)" class="btn btn-link btn-sm"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Mensaje</h5>
            <div text-angular ng-model="selected.textangular" placeholder="Cuerpo del mensaje"></div>
            <input ng-model="selected.body" type="hidden" required>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Archivos <span class="label label-default">{{selected.attachments.length}}</span></h5>
            <div class="dropzone" dropzone="dropzoneConfig1">
                <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf702">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button ng-click="doClear()" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-circle-o-notch fa-fw"></i>Limpiar</button>&nbsp;|&nbsp;
                <button ng-click="doPreview()" ng-disabled="!form.$valid" class="btn btn-primary"><i class="fa fa-save fa-fw"></i>Guardar</button>
            </div>
        </div>
    </div>
</form>

<!-- Modals -->
<div id="modalPreview" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Confirmar</h3>
                </div>
                <div class="modal-body">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa fa-envelope-o fa-fw"></i>Cotizaci&oacute;n</a></li>
                        <li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-at fa-fw"></i>Destinatarios&nbsp;&nbsp;<span class="badge">{{selected.to.length}}</span></a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-list-ul fa-fw"></i>N/P&nbsp;&nbsp;<span class="badge">{{selected.part_no.length}}</span></a></li>
                        <li><a href="#tab4" role="tab" data-toggle="tab"><i class="fa fa-list-ul fa-fw"></i>Archivos&nbsp;&nbsp;<span class="badge">{{selected.attachments.length}}</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="invoice-header">
                                <div class="row">
                                    <div class="col-lg-6 col-print-6">
                                        <h3>Quote {{selected.next}}<span ng-show="selected.subject">&nbsp;-&nbsp;{{selected.subject}}</span></h3>
                                    </div>
                                    <div class="col-lg-6 col-print-6">
                                        <ul class="list-inline">
                                            <li>Cliente: <strong>{{selected.client}}</strong></li>
                                            <li>Fecha: <strong>{{now | date:'dd-MM-yyyy'}}</strong></li>
                                            <li>N/P: <strong>{{selected.part_no.length}}</strong></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div ng-bind-html="selected.body"></div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>
                                <ul>
                                    <li ng-repeat="to in selected.to">{{to}}</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <p>
                                <ul ng-show="(selected.part_no.length > 0)">
                                    <li ng-repeat="part_no in selected.part_no">{{part_no.part_no}}</li>
                                </ul>
                                <div ng-show="(selected.part_no.length == 0)" class="alert alert-warning">
                                    <b>Advertencia:</b> No se encontraro numeros de parte
                                </div>
                            </p>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <p>
                                <ul ng-show="(selected.attachments.length > 0)">
                                    <li ng-repeat="attachment in selected.attachments">{{attachment.name}}</li>
                                </ul>
                                <div ng-show="(selected.attachments.length == 0)" class="alert alert-warning">
                                    <b>Advertencia:</b> No se encontraro archivos adjuntos
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cancelar</button>&nbsp;|
                    <button ng-click="doSend()" ng-disabled="!form2.$valid" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-send fa-fw"></i>Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div data-ng-include="'/partials/app/quotes/client_modal.html'"></div>
