<div id="modalClientEdit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">{{client.title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-lg">
                        <label>Email</label>
                        <input ng-model="client.username" type="email" required class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Nombre</label>
                        <input ng-model="client.name" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Telefono</label>
                        <input ng-model="client.phone" class="form-control" placeholder="Telefono">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Telefono2</label>
                        <input ng-model="client.phone2" class="form-control" placeholder="Telefono">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Direccion</label>
                        <textarea ng-model="client.address" class="form-control" placeholder="Direccion" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Cancelar</button>&nbsp;|
                    <button ng-click="doClientSave()" ng-disabled="!form.$valid" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
