<!-- Breadcrumb -->
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li>Inicio</li>
            <li ui-sref="app.quotes" class="link">Cotizaciones</li>
            <li class="active">#{{quote.sequence}}</li>
        </ul>
    </div>
</div>

<!-- Title -->
<div class="main-header">
    <div class="col-lg-10">
        <h2>
            <i class="fa fa-calculator fa-fw"></i>
            COTIZACION
            #{{quote.sequence}}
        </h2>
        <small>
            {{quote.subject}}
        </small>
    </div>
    <div class="col-lg-2">
        <div class="input-group">
            <input ng-model="sequence" on-enter="searchQoute()" numeric size="5" class="form-control">
            <span ng-click="searchQoute()" class="input-group-addon link">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab0" role="tab" data-toggle="tab">
                    <i class="fa fa-envelope-o fa-fw"></i>
                    Cotizaci&oacute;n
                </a>
            </li>
            <li>
                <a href="#tab1" role="tab" data-toggle="tab">
                    <i class="fa fa-truck fa-fw"></i>
                    Proveedores <span class="label label-primary">{{receipts.length}}</span>
                </a>
            </li>
            <li>
                <a href="#tab2" role="tab" data-toggle="tab">
                    <i class="fa fa-list fa-fw"></i>
                    Precio #C <span class="label label-primary">{{part_no.length}}</span>
                </a>
            </li>
            <li>
                <a href="#tab3" role="tab" data-toggle="tab">
                    <i class="fa fa-money fa-fw"></i>
                    Precio #V
                </a>
            </li>
            <li>
                <a href="#tab4" role="tab" data-toggle="tab">
                    <i class="fa fa-usd fa-fw"></i>
                    Pago
                </a>
            </li>
            <li>
                <a href="#tab5" role="tab" data-toggle="tab">
                    <i class="fa fa-plane fa-fw"></i>
                    Envio
                </a>
            </li>
            <li ng-show="(doCountReturns() > 0)">
                <a href="#tab6" role="tab" data-toggle="tab">
                    <i class="fa fa-recycle fa-fw"></i>
                    Retorno <span class="label label-primary">{{doCountReturns()}}</span>
                </a>
            </li>
            <li ng-show="(doCountReturns() > 0)">
                <a href="#tab7" role="tab" data-toggle="tab">
                    <i class="fa fa-money fa-fw"></i>Bonificaci&oacute;n
                </a>
            </li>
            <li>
                <a href="#tab8" role="tab" data-toggle="tab">
                    <i class="fa fa-frown-o fa-fw"></i>Garantia
                </a>
            </li>
            <li>
                <a href="#tab9" role="tab" data-toggle="tab">
                    <i class="fa fa-rss fa-fw"></i>Actividades
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab0">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="invoice-header">
                    <div class="row">
                        <div class="col-lg-7">
                            <input ng-model="subject.edit" type="text" class="form-control" placeholder="{{subject.placeholder}}">
                        </div>
                        <div class="col-lg-5">
                            <ul class="list-inline">
                                <li ng-show="quote.client">
                                    Cliente:
                                    <span ng-click="doClientEdit(client)" class="link" href="#" data-toggle="tooltip" data-original-title="{{client.tooltip}}">
                                        <b>{{client.username}}</b>
                                    </span>
                                </li>
                                <li>
                                    Fecha: <strong>{{quote.dt_notify_supplier | fromDataBaseFormatFtr}}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div text-angular ng-model="quote.body" placeholder="Cuerpo del mensaje"></div>
                <span ng-show="files3">
                    <hr>
                    <h5>Archivos <span class="label label-default">{{files3.length}}</span></h5>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="20"></th>
                                <th>Nombre</th>
                                <th>Mime</th>
                                <th width="30">Kbs</th>
                                <th width="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, file) in files3">
                                <td>{{key+1}}</td>
                                <td>
                                    <a href="{{file.url}}?token={{token}}" target="_blank">
                                        {{file.name}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{file.url}}?token={{token}}" target="_blank">
                                        {{file.mime}}
                                    </a>
                                </td>
                                <td>{{file.size/1000}}</td>
                                <td>
                                    <button ng-click="deleteFile(file)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
                <div class="form-group">
                    <label>Subir Archivo:</label>
                    <form class="dropzone" dropzone="dropzone_config">
                        <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                        <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf704">
                        <input type="hidden" name="id_quote" value="{{id_quote}}">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="tab1">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="modalAddSupplier()" class="btn btn-default"><i class="fa fa-plus-circle fa-fw"></i>Agregar Proveedor</button>&nbsp;|&nbsp;
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        Opciones:
                        &nbsp;
                        <button ng-click="doResendSuppliersAll()" class="btn btn-sm btn-info">
                            <i class="fa fa-check-square-o fa-fw"></i>
                       </button>
                        &nbsp;|&nbsp;
                        <button ng-click="doResendSuppliersClear()" class="btn btn-sm btn-info">
                            <i class="fa fa-square-o fa-fw"></i>
                        </button>
                        &nbsp;|&nbsp;
                        <button ng-click="doResendSuppliers()" ng-disabled="resend_supplier.disabled" class="btn btn-sm btn-primary">
                            <i class="fa fa-envelope-square fa-fw"></i>
                            Re-enviar
                        </button>
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <h4>Proveedores</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td width="40"></td>
                                    <td><strong>Nombre</strong></td>
                                    <td align="center" width="150"><strong>Fecha</strong></td>
                                    <td align="center" width="100"><strong>Hora</strong></td>
                                    <td width="40"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, receipt) in receipts">
                                    <td align="center" width="20">
                                        <input checklist-model="resend_supplier.data" checklist-value="receipt.id_quote_receipt" type="checkbox" id="resend{{key}}">
                                    </td>
                                    <td>
                                        <label class="link" for="resend{{key}}">
                                            {{receipt.email}}
                                        </label>
                                    </td>
                                    <td align="center">
                                        <label class="link" for="resend{{key}}">
                                            {{receipt.dt_create | fromDataBaseFormatFtr}}
                                        </label>
                                    </td>
                                    <td align="center">
                                        <label class="link" for="resend{{key}}">
                                            {{receipt.dt_create | tsToHour}}
                                        </label>
                                    </td>
                                    <td>
                                        <button ng-click="modalDeleteSupplier(receipt)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="addPartNo()" class="btn btn-default"><i class="fa fa-plus-circle fa-fw"></i>Agregar No Parte</button>&nbsp;|&nbsp;
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea ng-model="quote.comments" class="form-control" rows="5" placeholder="Comentarios a proveedores"></textarea>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Precio de compra</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>N/P</th>
                                    <th width="130">Precio Compra</th>
                                    <th width="130">Precio Envio</th>
                                    <th width="120">Tipo</th>
                                    <th width="200">Proveedor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, part) in part_no" ng-class="part.class">
                                    <td>{{part.part_no}}</td>
                                    <td>
                                        <input ng-model="part.total_purchase" numeric class="form-control input-sm" placeholder="0" style="text-align:right;">
                                    </td>
                                    <td>
                                        <input ng-model="part.total_shipping" numeric class="form-control input-sm" placeholder="0" style="text-align:right;">
                                    </td>
                                    <td>
                                        <select ng-model="part.condition" ng-options="condition.id_quote_condition as condition.name for condition in conditions" class="form-control input-sm">
                                            <option value=""> - - - </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-model="part.supplier" ng-options="receipt.email as receipt.email for receipt in receipts" class="form-control input-sm"></select>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="right"><b>Total</b></td>
                                    <td align="right" class="text-danger"><b>{{quote.total_purchase | number:2}}</b></td>
                                    <td align="right" class="text-danger"><b>{{quote.total_shipping | number:2}}</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                        <h4>Notas</h4>
                        <textarea ng-model="quote.notes" class="form-control" rows="20" placeholder="Notas"></textarea>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3" ng-include="'/partials/app/quotes/views/quote_new.html'">
                <h1>reemplazo</h1>
            </div>
            <!-- <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h4>Precio de venta</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>N/P</th>
                                <th>Proveedor</th>
                                <th width="150">Precio Compra</th>
                                <th width="150">Precio Envio</th>
                                <th width="150">Bonificación</th>
                                <th width="150">Precio Venta</th>
                                <th width="150">Utilidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, part) in part_no" ng-class="part.class">
                                <td>{{part.part_no}}</td>
                                <td>{{part.supplier}}</td>
                                <td align="right" class="text-danger">{{part.total_purchase | number:2}}</td>
                                <td align="right" class="text-danger">{{part.total_shipping | number:2}}</td>
                                <td align="right" class="text-danger"><input ng-show="part.condition == 7" ng-model="part.total_refound" numeric class="form-control input-sm" placeholder="0.00" style="text-align:right;"></td>
                                <td><input ng-model="part.total_income" numeric class="form-control input-sm has-error" placeholder="{{part.suggest_income | number:2}}" style="text-align:right;"></td>
                                <td align="right" class="text-info"><b>{{part.total_utility | number:2}}</b></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td align="right" class="text-danger"><b>{{quote.total_purchase | number:2}}</b></td>
                                <td align="right" class="text-danger"><b>{{quote.total_shipping | number:2}}</b></td>
                                <td align="right" class="text-danger"><b>{{quote.total_refound | number:2}}</b></td>
                                <td align="right" class="text-success"><b>{{quote.total_income | number:2}}</b></td>
                                <td align="right" class="text-info"><b>{{quote.total_utility | number:2}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Utilidad</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Conceptos</th>
                                    <th width="120"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-success">+ <b>Venta</b></td>
                                    <td class="text-success" align="right"><b>{{(quote.total_income) | number:2}}</b></td>
                                </tr>
                                <tr>
                                    <td class="text-danger">- Compra N/P</td>
                                    <td class="text-danger" align="right">{{quote.total_purchase | number:2}}</td>
                                </tr>
                                <tr>
                                    <td class="text-danger">- Envio N/P</td>
                                    <td class="text-danger" align="right">{{quote.total_shipping | number:2}}</td>
                                </tr>
                                <tr>
                                    <td class="text-danger">- Bonificaciones</td>
                                    <td class="text-danger" align="right">{{quote.total_refound | number:2}}</td>
                                </tr>
                                <tr>
                                    <td class="text-danger">- Otros</td>
                                    <td>
                                        <input ng-model="quote.total_other" numeric class="form-control input-sm" placeholder="0.00" style="text-align:right;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-danger">= <b>Total</b></td>
                                    <td class="text-danger" align="right"><b>{{(quote.total_expense) | number:2}}</b></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="right" class="text-info"><b>Utilidad</b></td>
                                    <td align="right" class="text-info"><b>{{quote.total_utility | number:2}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <div easypiechart options="options" percent="quote.utility_per" class="easy-pie-chart">
                            <span class="percent">{{quote.utility_per | number:2}}</span>
                            <p class="text-center">Total <b>{{quote.total_utility | number:2}}</b></p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="tab-pane" id="tab4">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Persona Fisica</h4>
                        <div class="form-group">
                            <label>Fecha de pago:</label><br>
                            <div date-picker data="quote.dt_payment" class="input-group date-picker">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div ng-show="files1.length > 0" class="form-group">
                            <label>Facturas:</label>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nombre</th>
                                        <th>Mime</th>
                                        <th width="30">Kbs</th>
                                        <th width="20"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, file) in files1">
                                        <td>{{key+1}}</td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.name}}</a>
                                        </td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.mime}}</a>
                                        </td>
                                        <td>{{file.size/1000}}</td>
                                        <td>
                                            <button ng-click="deleteFile(file)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Subir Factura:</label>
                            <form class="dropzone" dropzone="dropzone_config">
                                <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                                <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf702">
                                <input type="hidden" name="id_quote" value="{{id_quote}}">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4>Meditegic SA</h4>
                        <div class="form-group">
                            <label>Fecha de pago:</label><br>
                            <div date-picker data="quote.dt_payment_sa" class="input-group date-picker">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div ng-show="files4.length > 0" class="form-group">
                            <label>Facturas:</label>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nombre</th>
                                        <th>Mime</th>
                                        <th width="30">Kbs</th>
                                        <th width="20"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, file) in files4">
                                        <td>{{key+1}}</td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.name}}</a>
                                        </td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.mime}}</a>
                                        </td>
                                        <td>{{file.size/1000}}</td>
                                        <td>
                                            <button ng-click="deleteFile(file)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Subir Factura:</label>
                            <form class="dropzone" dropzone="dropzone_config">
                                <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                                <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf705">
                                <input type="hidden" name="id_quote" value="{{id_quote}}">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4>Meditegic LLC</h4>
                        <div class="form-group">
                            <label>Fecha de pago:</label><br>
                            <div date-picker data="quote.dt_payment_llc" class="input-group date-picker">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div ng-show="files5.length > 0" class="form-group">
                            <label>Facturas:</label>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nombre</th>
                                        <th>Mime</th>
                                        <th width="30">Kbs</th>
                                        <th width="20"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, file) in files5">
                                        <td>{{key+1}}</td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.name}}</a>
                                        </td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.mime}}</a>
                                        </td>
                                        <td>{{file.size/1000}}</td>
                                        <td>
                                            <button ng-click="deleteFile(file)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Subir Factura:</label>
                            <form class="dropzone" dropzone="dropzone_config">
                                <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                                <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf706">
                                <input type="hidden" name="id_quote" value="{{id_quote}}">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <h4>Otros archivos</h4>
                    <div class="col-lg-12">
                        <div ng-show="files6.length > 0" class="form-group">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nombre</th>
                                        <th>Mime</th>
                                        <th width="30">Kbs</th>
                                        <th width="20"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, file) in files6">
                                        <td>{{key+1}}</td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.name}}</a>
                                        </td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">{{file.mime}}</a>
                                        </td>
                                        <td>{{file.size/1000}}</td>
                                        <td>
                                            <button ng-click="deleteFile(file)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Subir Otros archivos:</label>
                            <form class="dropzone" dropzone="dropzone_config">
                                <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                                <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf707">
                                <input type="hidden" name="id_quote" value="{{id_quote}}">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>N/P</th>
                                    <th colspan="3">Proveedor a Meditegic</th>
                                    <th colspan="3">Meditegic a Cliente</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th><small>Fecha de envio</small></th>
                                    <th><small>Gu&iacute;a</small></th>
                                    <th><small>Estatus</small></th>
                                    <th><small>Fecha de envio</small></th>
                                    <th><small>Gu&iacute;a</small></th>
                                    <th><small>Estatus</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="part in part_no" ng-class="part.class">
                                    <td>
                                        <a href="#" data-toggle="tooltip" data-original-title="{{part.part_no}} {{part.supplier}}">{{part.part_no}}</a>
                                    </td>
                                    <td>
                                        <div date-picker data="part.dt_shipping_supplier" class="input-group date-picker">
                                            <input type="text" class="form-control input-sm" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input ng-model="part.tracking_shipping_supplier" class="form-control input-sm">
                                    </td>
                                    <td>
                                        {{part.status_shipping_supplier}}
                                    </td>
                                    <td>
                                        <div date-picker data="part.dt_shipping_client" class="input-group date-picker">
                                            <input type="text" class="form-control input-sm" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input ng-model="part.tracking_shipping_client" class="form-control input-sm">
                                    </td>
                                    <td>
                                        {{part.status_shipping_client}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab6">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>N/P</th>
                                    <th>Proveedor</th>
                                    <th width="200">Fecha de retorno</th>
                                    <th width="300">Gu&iacute;a</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="part in part_no | filter : { condition : 7}"  ng-class="part.class">
                                    <td>{{part.part_no}}</td>
                                    <td>{{part.supplier}}</td>
                                    <td>
                                        <div date-picker data="part.dt_return" class="input-group date-picker">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input ng-model="part.tracking_return" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab7">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>N/P</th>
                                    <th>Proveedor</th>
                                    <th width="200">Fecha de bonificación</th>
                                    <th width="100">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="part in part_no | filter : { condition : 7}" ng-class="part.class">
                                    <td>{{part.part_no}}</td>
                                    <td>{{part.supplier}}</td>
                                    <td>
                                        <div date-picker data="part.dt_refound" class="input-group date-picker">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input ng-model="part.total_refound" numeric class="form-control input-sm" placeholder="0.00" style="text-align:right;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="files2.length > 0" class="form-group">
                            <label>Facturas:</label>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="20"></th>
                                        <th>Nombre</th>
                                        <th width="30">Kbs</th>
                                        <th width="20"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, file) in files2">
                                        <td>{{key+1}}</td>
                                        <td>
                                            <a href="{{file.url}}?token={{token}}" target="_blank">
                                                {{file.name}}
                                            </a>
                                        </td>
                                        <td>{{file.size/1000}}</td>
                                        <td>
                                            <button ng-click="deleteFile(file)" type="button" class="btn btn-link btn-xs btn-outline"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Subir Factura:</label>
                            <form class="dropzone" dropzone="dropzone_config">
                                <div class="dz-message" data-dz-message><span><i class="fa fa-cloud fa-fw"></i>&nbsp;Cargar archivos</span></div>
                                <input type="hidden" name="id_file_type" value="58787e29056f29085b4bf703">
                                <input type="hidden" name="id_quote" value="{{id_quote}}">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab8">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estatus:</label>&nbsp;
                        <select ng-model="quote.id_quote_status" ng-options="row.id_quote_status as row.name for row in status" class="input-sm"></select>
                    </div>
                    <div class="col-lg-9">
                        <p class="pull-right">
                            <button ng-click="doSaveQuote()" ng-disabled="!isValid" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i>Guardar</button>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Reclamo de garantía</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab9">
                <ul class="timeline">
                    <li ng-repeat="(key, log) in logs" ng-class="{'timeline-inverted': log.color == 'danger'}">
                        <div class="timeline-badge {{log.color}}"><i class="fa {{log.icon}} fa-fw"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">{{log.title}}</h5>
                                <p>
                                    <small class="text-muted" title="{{log.dt_create}}">
                                        <i class="fa fa-clock-o fa-fw"></i>{{log.dt_hint}}
                                    </small>
                                    <small class="text-muted">
                                        <i class="fa fa-user fa-fw"></i>{{log.username}}
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p ng-show="log.message">{{log.message}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div id="modalAddPartNo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Agregar Número de Parte</h3>
                </div>
                <div class="modal-body">
                    <h5>Número de Parte</h5>
                    <input ng-model="edit.part_no" type="text" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>Cancelar</button>&nbsp;|
                    <button ng-click="doAddPartNo()" ng-disabled="!form1.$valid" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save fa-fw"></i>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalAddSupplier" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Agregar Proveedor</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>Email</h5>
                        <select ng-model="supplier.email" id="receipt" required placeholder="Proveedor">
                            <option ng-repeat="supplier in suppliers" value="{{supplier.value}}">
                                {{supplier.text}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <h5>
                            <input ng-model="supplier.send" ng-true-value="1" ng-false-value="0" type="checkbox" id="sendEmail">&nbsp;
                            <label class="link" for="sendEmail">
                                <i class="fa fa-envelope-o fa-fw"></i>&nbsp;
                                <b>Enviar correo?</b>
                            </label>
                        </h5>
                    </div>
                    <div ng-show="supplier.send">
                        <hr>
                        <h4>{{quote.subject}}</h4><br>
                        <div ng-bind-html="quote.body"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>Cancelar</button>&nbsp;|
                    <button ng-click="doAddSupplier()" ng-disabled="!form1.$valid" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save fa-fw"></i>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalResendReceipt" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Enviar Cotización Proveedor</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>Email</h5>
                        <span ng-repeat="(key, email) in resend_supplier.emails">
                            {{email}}<span ng-show="(key+1) < resend_supplier.emails.length">, </span>
                        </span>
                    </div>
                    <div>
                        <hr>
                        <h4>{{quote.subject}}</h4><br>
                        <div ng-bind-html="quote.body"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>Cancelar</button>&nbsp;|
                    <button ng-click="doResend()" ng-disabled="!form1.$valid" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save fa-fw"></i>Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalDeleteSupplier" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form name="form1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Eliminar {{supplier.email}}</h3>
                </div>
                <div class="modal-body">
                    <b>Datos:</b>
                    <div style="width: 99%; height: 200px; overflow: auto;">
                        <pre>{{supplier | json}}</pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>Cancelar</button>&nbsp;|
                    <button ng-click="doRemoveSupplier()" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash fa-fw"></i>Eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modealDeleteFile" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Eliminar {{edit.email}}</h3>
            </div>
            <div class="modal-body">
                <b>Datos:</b>
                <div style="width: 99%; height: 200px; overflow: auto;">
                    <pre>{{edit | json}}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>Cancelar</button>&nbsp;|
                <button ng-click="doRemoveFile()" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash fa-fw"></i>Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div data-ng-include="'/partials/app/quotes/client_modal.html'"></div>
