<!-- Breadcrumb -->
<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li>Inicio</li>
            <li class="active">Cotizaciones</li>
        </ul>
    </div>
</div>

<!-- Title -->
<div class="main-header">
    <div class="col-lg-12">
        <h2><i class="fa fa-calculator fa-fw"></i>COTIZACIONES</h2>
        <em>Total de cotizaci&oacute;nes {{tableParams.total()}}</em>
    </div>
</div>

<!--- Search bar -->
<div class="well well-sm">
    <div class="input-group input-group-lg">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <div tags data="q"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">
                <b>Filtrar fecha de creación: </b>
                &nbsp;de&nbsp;
                <div class="form-group">
                    <div date-picker data="filter.date.from" class="input-group date-picker">
                        <input type="text" class="form-control" placeholder="Desde" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                &nbsp;a&nbsp;
                <div class="form-group">
                    <div date-picker data="filter.date.to" class="input-group date-picker">
                        <input type="text" class="form-control" placeholder="Hasta" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">
                <b>Filtrar fecha de pago: </b>
                &nbsp;de&nbsp;
                <div class="form-group">
                    <div date-picker data="filter.date_payment.from" class="input-group date-picker">
                        <input type="text" class="form-control" placeholder="Desde" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                &nbsp;a&nbsp;
                <div class="form-group">
                    <div date-picker data="filter.date_payment.to" class="input-group date-picker">
                        <input type="text" class="form-control" placeholder="Hasta" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <b>Estatus:</b>
            <span ng-repeat="row in status">&nbsp;
                <input type="checkbox" id="status_{{row.id_quote_status}}" ng-model="check[row.id_quote_status]" ng-click="toggleStatus(row.id_quote_status)">&nbsp;
                <label for="status_{{row.id_quote_status}}" class="link">{{row.name}}</label>&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>
</div>

<!--- Table -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table ng-table="tableParams" class="table table-striped table-hover table-bordered" template-pagination="tableControls">
                <tbody>
                    <tr ng-repeat="row in $data">
                        <td data-title="'Cotización'" sortable="'sequence'" align="center" width="100">
                            <a ng-href="/app/quotes/{{row.id_quote}}">#{{row.sequence}}</a>
                        </td>
                        <td data-title="'Alertas'" sortable="'notify.total'" align="center">
                            <span ng-show="row.notify.pending" class="label label-info" data-toggle="tooltip" data-original-title="Guias pendientes">{{row.notify.pending}}</span>
                            <span ng-show="row.notify.delivered" class="label label-success" data-toggle="tooltip" data-original-title="Guias entregadas">{{row.notify.delivered}}</span>
                        </td>
                        <td data-title="'# Prov'" sortable="'count_receipts'" align="center">
                            <a ng-href="/app/quotes/{{row.id_quote}}">{{row.count_receipts}}</a>
                        </td>
                        <td data-title="'Cliente'" sortable="'client'" align="center">
                            <a ng-click="doClientEdit(row)" href="#" data-toggle="tooltip" data-original-title="{{row.tooltip}}">{{row.client}}</a>
                        </td>
                        <td data-title="'Titulo'" sortable="'subject'" align="center">
                            <a ng-href="/app/quotes/{{row.id_quote}}" title="{{row.subject}}">{{row.subject}}</a>
                        </td>
                        <td data-title="'Fecha Creación'" sortable="'dt_create'" align="center">
                            <a ng-href="/app/quotes/{{row.id_quote}}">{{row.dt_create | fromDataBaseFormatFtr}}</a>
                        </td>
                        <td data-title="'Estatus'" sortable="'status'" align="center">
                            <a ng-href="/app/quotes/{{row.id_quote}}">{{row.status}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div data-ng-include="'/partials/app/quotes/client_modal.html'"></div>