/**
 * Footer
 */

.footer {
    padding-top: 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.content {
    padding-bottom: 100px;
}

.top-content {
    padding-top: 10px;
}


.wrapper {
    height: 100% !important;
}

/**
 * Navbar (overwrite template)
 */

.navbar-default {
    background-color: inherit;
    border: 0px;
}

.top-bar .notifications .notification-item {
    margin-left: 0px;
}

.top-bar .notifications .notification-item .btn-group > a {
    color: #ddd;
}

/**
 * Timeline
 */

 .timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}

/*
 * Date Picker
 */

.date-picker {
    width: 140px;
}

/**
 * Selectize
 */

.selectize-control.multi .selectize-input > div {
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    background: #cde69c;
    color: #638421;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: helvetica;
    font-size: 13px;
}

/**
 * Pagination
 */

.pagination {
    margin: 0;
}

.pagination > li > a, .pagination > li > a:visited {
    color : #638421;
}

.pagination > li > a:hover {
    background : rgba(205, 230, 156, 0.32);
    color : #333;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:active {
    background : #cde69c;
    color : #638421;
    cursor : pointer;
}

/**
 * NG Table
 */

.ng-table th.sortable.sort-asc{
    background : #cde69c;
    color : #638421;
}

.table > thead > tr > th {
    border-bottom : 0;
    padding : 5px;
}

.table > tbody > tr > td > a {
    color: #666;
}

/**
 * Template (overwrites)
 */

.bottom .container .content-wrapper {
    border-bottom: 1px solid #e4e4e4;
}

.top-bar .notifications .dropdown-menu {
    width: 320px;
}

.logo {
    color: #fff;
    height: 35px;
    padding-top: 2px;
    padding-left: 35px;
}

.link {
    cursor : pointer;
}

.top-bar .top-bar-right {
    padding-right: 30px;
}

.top-bar .logged-user .dropdown-menu {
    top: 25px;
    left: -90px;
}

.top-bar .logged-user .dropdown-menu>li>a {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logged-user a {
    color: #fff;
    text-decoration: none;
}

.modal-lg {
    width: 85%;
}

.invoice-header ul li {
    padding: 10px 8px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: #cde69c;
    color: #638421;
    font-weight: bold;
}

/**
 * Buttons
 */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn[disabled] {
    color: inherit;
    background-color: transparent;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-white, .btn-white:hover, .btn-white:visited {
    color: #fff;
    text-decoration: none;
}

/**
 * Login
 */

.login-header {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 20px;
}

.login-h4 {
    color: #666;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);
}

.form-box input{
    width: 100%;
    padding: 10px;
    height:40px;
    border: 1px solid #ccc;
    transition:0.2s ease-in-out;
}

.form-box input:focus{
    outline: 0;
    background: #f2f2f2;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
}
