<!-- Breadcrumb -->
<div class="row">
    <div class="top-content col-md-12">
        <ul class="list-inline mini-stat">
            <li ng-repeat="status in dashboard">
                <h5>
                    {{status.name}}
                    <span class="stat-value">
                        <i class="fa {{status.class}}"></i>
                        &nbsp;
                        {{status.total}}
                    </span>
                </h5>
            </li>
        </ul>
    </div>
</div>

<!--- Title -->
<div class="content">
    <div class="main-header">
        <h2>INICIO</h2>
        <h5>Bienvenido {{username}}</h5>
    </div>
</div>
